---
layout: default
---

<div class="posts">
  {% for tag in site.tags %}
  {% if tag[0] == 'opencv' %}
  {% for post in tag[1] %}
  
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">

      {{ post.excerpt }}
      {% assign image = post.images[0] %}
      {% include image.html image=image %}

      </div>
      
    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  
  {% endfor %}
  {% endif %}
  {% endfor %}
  
  <h3>More blogs to come 💻📝</h3>
</div>
